.ui-text-input-group {
    padding: 5px;
    margin: 15px;
}

.ui-text-input-label {
    float: left;
    margin-right: 15px;
}

.ui-text-input {
    padding-left: 10px;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.8em;
    border: none;
    background-color: #eee;
}