 /*---QUICK RWD----------------------------------------*/

 /*---  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">  ---*/

 /*remove blue highlight from input elements*/

 input:focus, select:focus, option:focus, textarea:focus, button:focus {
     outline: none;
 }

 @media (min-width: 0px) and (max-width: 768px) {
     .design-controls {
         xborder: dotted 1px red;
         height: 450px;
     }
     .ui-text-input {
         font-size: 1.1em !important;
     }
     .ui-select {
         font-size: .9em !important;
         width: 100%;
     }
     .sidebar-call-to-action {
         font-size: 1.1em !important;
     }
 }

 @media (min-width: 769px) and (max-width: 1000px) {
     .design-controls {
         xborder: dotted 1px green;
         height: 450px;
     }
     .ui-text-input {
         font-size: .8em;
     }
     .ui-text-input {
         font-size: 1.1em !important;
     }
     .ui-select {
         font-size: .9em !important;
         width: 100%;
     }
     .sidebar-call-to-action {
         font-size: 1.1em !important;
     }
 }

 @media (min-width: 1001px) and (max-width: 1300px) {
     .design-controls {
         xborder: dotted 1px orange;
         height: 600px;
     }
     .ui-text-input {
         font-size: 1.1em !important;
     }
     .ui-select {
         font-size: .9em !important;
         width: 100%;
     }
     .sidebar-call-to-action {
         font-size: 1.1em !important;
     }
 }

 @media (min-width: 1301px) and (max-width: 1600px) {
     .design-controls {
         xborder: dotted 1px purple;
         height: 650px;
     }
     .ui-text-input {
         font-size: 1.5em !important;
     }
     .ui-select {
         font-size: 1em !important;
         width: 100%;
     }
     .sidebar-call-to-action {
         font-size: 1.5em !important;
     }
 }

 @media (min-width: 1601px) and (max-width: 2000px) {
     .design-controls {
         xborder: dotted 1px brown;
         height: 750px;
     }
 }

 @media (min-width: 2001px) {
     .design-controls {
         xborder: dotted 1px orange;
         height: 900px;
     }
 }