 /*---QUICK RWD----------------------------------------*/

 /*---  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">  ---*/

 /*remove blue highlight from input elements*/

 input:focus, select:focus, option:focus, textarea:focus, button:focus {
     outline: none;
 }

 .user-name {
     font-size: 1em;
     color: #2f2f2f;
     margin: 0px;
     line-height: 40px;
     text-justify: center;
     text-align: center;
 }

 @media (min-width: 0px) and (max-width: 768px) {
     .design-controls {
         xborder: dotted 1px red;
         height: 450px;
     }
     .ui-text-input {
         font-size: 1.1em !important;
     }
     .sidebar-call-to-action {
         font-size: 1.1em !important;
     }
     .user-name {
         font-size: 1em;
         line-height: 35px;
     }
     .canvas-container {
         margin-top: 15px;
     }
     .gui-overlay-right {
         top: 70%;
         right: 60px;
     }
     .react-resizable {
         xxbox-shadow: 2px 2px 10px yellow;
         width: 400px !important;
     }
     .buttonSidebar {
         font-size: .8em;
         padding: 3px;
         padding-left: 15px;
         padding-right: 15px;
     }
 }

 @media (min-width: 769px) and (max-width: 1000px) {
     .design-controls {
         xborder: dotted 1px green;
         height: 450px;
     }
     .ui-text-input {
         font-size: .8em;
     }
     .ui-text-input {
         font-size: 1.1em !important;
     }
     .sidebar-call-to-action {
         font-size: 1.1em !important;
     }
     .user-name {
         font-size: 1em;
         line-height: 35px;
     }
     .canvas-container {
         margin-top: 15px;
     }
     .gui-overlay-right {
         top: 70%;
         right: 60px;
     }
     .react-resizable {
         xxbox-shadow: 2px 2px 10px red;
         width: 400px !important;
     }
     .buttonSidebar {
         font-size: .8em;
         padding: 3px;
         padding-left: 8px;
         padding-right: 8px;
     }
 }

 @media (min-width: 1001px) and (max-width: 1300px) {
     .design-controls {
         xborder: dotted 1px orange;
         height: 600px;
     }
     .ui-text-input {
         font-size: 1.1em !important;
     }
     .sidebar-call-to-action {
         font-size: 1.1em !important;
     }
     .user-name {
         font-size: 1em;
         line-height: 35px;
     }
     .gui-overlay-right {
         top: 80%;
         right: 60px;
     }
     .react-resizable {
         xxbox-shadow: 2px 2px 10px green;
         width: 500px !important;
     }
     .buttonSidebar {
         font-size: .8em;
         padding: 3px;
         padding-left: 10px;
         padding-right: 10px;
     }
 }

 @media (min-width: 1301px) and (max-width: 1600px) {
     .design-controls {
         xborder: dotted 1px purple;
         height: 650px;
     }
     .ui-text-input {
         font-size: 1.5em !important;
     }
     .sidebar-call-to-action {
         font-size: 1.5em !important;
     }
     .react-resizable {
         xxbox-shadow: 2px 2px 10px blue;
         width: 640px !important;
     }
     .buttonSidebar {
         font-size: .8em;
         padding: 3px;
         padding-left: 15px;
         padding-right: 15px;
     }
 }

 @media (min-width: 1601px) and (max-width: 2000px) {
     .design-controls {
         xborder: dotted 1px brown;
         height: 750px;
     }
     .react-resizable {
         xxbox-shadow: 2px 2px 10px purple;
         width: 800px !important;
     }
     .buttonSidebar {
         font-size: .8em;
         padding: 3px;
         padding-left: 15px;
         padding-right: 15px;
     }
 }

 @media (min-width: 2001px) {
     .design-controls {
         xborder: dotted 1px orange;
         height: 900px;
     }
     .buttonSidebar {
         font-size: .8em;
         padding: 3px;
         padding-left: 15px;
         padding-right: 15px;
     }
 }