.App {
    text-align: center;
}

.adder-3dTool-canvas-container {
    position: relative;
    width: 100%;
}

.adder-3dTool-canvas {
    width: 100%;
    height: auto;
}

.adder-ui-sidebar-container {
    position: relative;
    width: 25%;
    height: 500px;
    border: solid 1px #ddd;
}

.AdderLogoAndName {
    height: 50px;
    width: auto;
}

.tui-image-editor-header-logo {
    display: none;
}

.tui-image-editor-download-btn {
    display: none;
}

/* ORIGINAL MIN CSS BELOW HERE */

/*
1) Main UI
2) Header
3) Canvas
4) Sidebar 
5) Icon Overlays
6) Icon Grid
7) Layout Structure
*/

/* 1) Main UI           */

/* 2) Header            */

.AdderLogoAndName {
    height: 50px;
    width: auto;
}

/* 3) Canvas            */

.babylonjsCanvasContainer {
    position: relative;
}

.babylonjsCanvas {
    width: 100%;
    height: auto;
}

.gui-overlay-upper-right {
    position: absolute;
    top: 1%;
    left: 5px;
    background-color: #eee;
    width: 45px;
    border-radius: 16px;
    text-align: center;
}

.gui-overlay {
    position: absolute;
    top: 25%;
    left: 5px;
    background-color: #eee;
    width: 45px;
    border-radius: 16px;
    text-align: center;
}

.gui-overlay-left {
    position: absolute;
    top: 25%;
    left: 5px;
    background-color: #eee;
    width: 45px;
    border-radius: 16px;
    text-align: center;
}

.gui-overlay-right {
    position: absolute;
    top: 85%;
    right: 50px;
    background-color: #eee;
    width: 45px;
    border-radius: 30px;
    text-align: center;
}

/* 4) Sidebar           */

.ui-select {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    height: 30px;
    color: #2f2f2f;
    font-size: 1.1em;
    text-transform: capitalize;
}

.ui-select option.ui-select-option {
    border: none;
    outline: none;
    background: none;
    background-color: none;
    font-size: 1.1em;
    text-transform: capitalize;
}

.buttonSidebar {
    border-radius: 8px;
    border: none;
    font-size: .8em;
    background-color: #fff;
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 1px 1px 10px 1px #ddd;
}

.designer {
    padding: 15px;
}

/* 5) Icon Overlays     */

.icon_btn {
    height: 50px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    border: solid 1px #eee;
    padding: 2px;
    background-color: #eee;
    margin: 1px;
    transform: scale(0.8);
}

/* 6) Icon Grid         */

/* 7) Layout Structure   */

.relativeContainer {
    position: relative;
    width: 80%;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    /*box-shadow: 10px 10px 10px #ccc;*/
}

/* Uncategorized            */

.red {
    background-color: red;
    color: red;
}

.svg_icons {
    transform: scale(0.8);
}

.dev_warning {
    border: solid 1px orange;
}

/* background Images

    .icon_camera {
        background-image: url(../assets/images/icon_screenshot.png) ;
    }
 
*/

/*
#screenshots_container {
    height: 200px;
    width: 1024px;
    overflow-y: scroll;
    overflow-x: scroll;
    background-repeat: no-repeat;
    border: solid 3px red;
   
    border-radius: 0px;
    margin: 15px;
    float: left;
   
}
*/

/* Grid List        */

/* Grid List        */

.MuiGrid-root div .makeStyles-root-144 {
    background: #eee;
    background-color: #eee;
}

.MuiGrid-root div ul {
    /*height: 100px !important;*/
    height: auto;
    background: #eee;
}

/*
.makeStyles-gridList-145 {
    height: 100px !important;
}

.makeStyles-gridList-124 {
    height: 100px !important;
}
*/

.makeStyles-root-124 {
    background: #eee !important;
    background-color: #eee !important;
}

ul.MuiGridList-root li li {
    margin: 2px !important;
    border: solid 1px #ccc;
    border-radius: 10px;
}

ul.MuiGridList-root li li img {
    /* height: 100px; */
    /* max-height: 100px;*/
}

/* The following css is for the react-resizable elements.*/

.react-resizable {
    position: relative;
}

.react-resizable-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-origin: content-box;
    box-sizing: border-box;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+');
    background-position: bottom right;
    padding: 0 3px 3px 0;
}

.react-resizable-handle-sw {
    bottom: 0;
    left: 0;
    cursor: sw-resize;
    transform: rotate(90deg);
}

.react-resizable-handle-se {
    bottom: 0;
    right: 0;
    cursor: se-resize;
}

.react-resizable-handle-nw {
    top: 0;
    left: 0;
    cursor: nw-resize;
    transform: rotate(180deg);
}

.react-resizable-handle-ne {
    top: 0;
    right: 0;
    cursor: ne-resize;
    transform: rotate(270deg);
}

.react-resizable-handle-w, .react-resizable-handle-e {
    top: 50%;
    margin-top: -10px;
    cursor: ew-resize;
}

.react-resizable-handle-w {
    left: 0;
    transform: rotate(135deg);
}

.react-resizable-handle-e {
    right: 0;
    transform: rotate(315deg);
}

.react-resizable-handle-n, .react-resizable-handle-s {
    left: 50%;
    margin-left: -10px;
    cursor: ns-resize;
}

.react-resizable-handle-n {
    top: 0;
    transform: rotate(225deg);
}

.react-resizable-handle-s {
    bottom: 0;
    transform: rotate(45deg);
}